$columns: 10;
$size: 10px;

.b-heatmap {
  cursor: default !important;
  transform: translateY(30px);
  display: flex;
  flex-wrap: wrap;
  width: ($size * $columns) + ($columns * 6px);
  z-index: 1;
}

.b-heatmap__box {
  width: $size;
  height: $size;
  margin: 3px;
  background: rgba(#fff, 0.1);
  border-radius: 50%;
  position: relative;

  &:hover {
    .b-heatmap__title {
      transform: translateY(-100%) translateX(-50%) scale(1);
      visibility: visible;
      opacity: 1;
    }
  };
}

.b-heatmap__title {
  transition: transform 100ms, opacity 100ms, visibility 100ms;
  visibility: hidden;
  opacity: 0;
  background: rgba(#000, 0.3);
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -5px;
  transform: translateY(-100%) translateX(-50%) scale(0.8);
  padding: 3px 4px;
  font-size: 0.82em;
  border-radius: 3px;
  text-align: center;
  min-width: 20px;
  white-space: nowrap;
  pointer-events: none;
}

.b-heatmap__pomodoros {
  > b {
    // color: #39b6eb;
    position: relative;
  }
}

.b-heatmap__day {
  opacity: 0.7;
}

.b-heatmap__pomodoros {
}

.b-heatmap__time {
}
