$columns: 14;
$size: 10px;

.b-heatmap {
  transform: translateY(30px);
  display: flex;
  flex-wrap: wrap;
  width: ($size * $columns) + ($columns * 4px);
}

.b-heatmap__box {
  width: $size;
  height: $size;
  margin: 2px;
  border-radius: 3px;
}
