.b-layout {
  position: relative;
  text-align: center;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.b-layout__top {
  padding-bottom: 25px;
}

.b-layout__body {
  position: relative;
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .b-process {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
  }

  .b-target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.b-layout__bottom {
  padding-top: 35px;
}
