.b-layout {
  position: relative;
  text-align: center;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.b-layout__top {
  padding-bottom: 25px;
}

.b-layout__body {
  position: relative;
  flex: 1 auto;
}

.b-layout__body--timer {
  .b-layout__tab--timer {
    visibility: visible;
    opacity: 1;
  }

  .b-layout__tab--stats {
    transform: translateX(50%);
  }

  .b-layout__tab--settings {
    transform: translateX(100%);
  }
}

.b-layout__body--stats {
  .b-layout__tab--timer {
    transform: translateX(-50%);
  }

  .b-layout__tab--stats {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  .b-layout__tab--settings {
    transform: translateX(50%);
  }
}

.b-layout__body--settings {
  .b-layout__tab--timer {
    transform: translateX(-100%);
  }

  .b-layout__tab--stats {
    transform: translateX(-50%);
  }

  .b-layout__tab--settings {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
}

.b-layout__tab {
  transition: transform 400ms, opacity 200ms, visibility 200ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.b-layout__tab--timer {
}

.b-layout__tab--stats {
}

.b-layout__tab--settings {
}

.b-layout__bottom {
  padding-top: 35px;
}
