.b-play {
  background: lighten(#323949, 4%);
  color: inherit;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: relative;
  text-align: center;

  &:hover {
    background: lighten(#323949, 10%);
  }

  &:focus {
    // box-shadow: 0 0 1px 1px rgba(#39b6ea, 0.8);
    outline: none;
  }

  &:active {
    top: 1px;
  }

  > svg {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
  }
}
