.b-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  transform: translateX(4px);
}

.b-tabs__item {
  transition: opacity 200ms;
  margin: 0 10px;
  opacity: 0.2;
  cursor: pointer;
  position: relative;

  &:after {
    transition: opacity 200ms, transform 200ms;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: translateY(2px);
    opacity: 0;
  }

  &:hover {
    &:after {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.b-tabs__item--active {
  opacity: 1;
}
