.b-target__item {
  fill: rgba(#fff, 0.15);
}

.b-target__item--finished {
  fill: #39b6eb;
}

.b-target__item--extra {
  fill: lighten(#39b6eb, 20%);
}

.b-target__item--skipped {
  fill: rgba(#39b6eb, 0.5);
}
