.b-timer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 37px solid transparent;

  .b-process {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 2%;
    transform: translateX(-50%) translateY(-50%);
  }

  .b-target {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@include device-until(mobile) {
  .b-timer {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
}
