.b-timer {
  .b-process {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 15px solid transparent;
  }

  .b-target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
