body.theme-darcula {
  background: #393939;
  color: #c9d1d1;

  .b-process__value {
    fill: #facf7f;
  }

  .b-application--break .b-process__value {
    fill: #b3ca74;
  }

  .b-target__item {
    fill: rgba(#c9d1d1, 0.2);
  }

  .b-target__item--finished {
    fill: #7fadc5;
  }

  .b-target__item--extra {
    fill: lighten(#7fadc5, 20%);
  }

  .b-target__item--skipped {
    fill: rgba(#7fadc5, 0.5);
  }

  .b-heatmap__level {
    background: #b3ca74;
  }

  .b-clock__pauses {
    color: #facf7f;
  }

  .vue-slider-process {
    background: #7fadc5;
  }

  .vue-js-switch.toggled .v-switch-core {
    background: #7fadc5;
  }
}
