@import './components/applicaiton.scss';
@import './components/layout.scss';
@import './components/process.scss';
@import './components/clock.scss';
@import './components/play.scss';
@import './components/tabs.scss';
@import './components/controls.scss';
@import './components/pauses.scss';
@import './components/timer.scss';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  background: #323949;
  color: #f5f5f5;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
