.vue-slider-component {
  padding-left: 0 !important;
  padding-right: 0 !important;

  &:hover {
    .vue-slider-tooltip {
      visibility: visible !important;
      opacity: 1 !important;
      transform: scale(1) !important;
    }
  }

  .vue-slider {
    background: rgba(#fff, 0.1) !important;
  }

  .vue-slider-process {
    background: #39b6eb;
  }

  .vue-slider-dot {
    &.vue-slider-always {
      .vue-slider-tooltip {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .vue-slider-tooltip {
    visibility: hidden !important;
    transition: transform 200ms, opacity 200ms, visibility 200ms;
    border: 0 !important;
    padding: 3px 4px;
    width: auto;
    line-height: 1;
    border-radius: 2px;
    min-width: auto;
    text-align: center;
    background: rgba(#000, 0.4) !important;
    font-size: 0.82em;
    transform: scale(0.8) !important;
    opacity: 0 !important;

    &:before {
      border-top-color: transparent !important;
    }
  }
}

.vue-slider-component--active {
  .vue-slider-tooltip {
    visibility: visible !important;
    opacity: 1 !important;
    transform: scale(1) !important;
  }
}

.vue-js-switch {
  transform: translateY(-2px);
  overflow: visible !important;
  -webkit-tap-highlight-color: transparent;

  .v-switch-core {
    background: rgba(#fff, 0.05);
    box-shadow: inset 0 0 0 1px rgba(#fff, 0.15);
  }

  &.toggled .v-switch-core {
    background: #39b6eb;
    box-shadow: inset 0 0 0 1px rgba(#fff, 0);
  }
}
