.vue-slider-component {
  .vue-slider {
    background: rgba(#fff, 0.1) !important;
  }

  .vue-slider-process {
    background: #39b6eb;
  }

  .vue-slider-tooltip {
    transform: translateY(7px);
    background: transparent;
    border: 0;

    &:before {
      border-top-color: transparent !important;
    }
  }
}

.slider {
  .frame {
    width: 100%;
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  .slides {
    width: 100%;
    display: inline-block;
  }

  .js_slide {
    position: relative;
    display: inline-block;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
  }
}
